apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: mosapi
spec:
  parentRefs:
  - kind: Gateway
    name: nomulus
    sectionName: https
  hostnames:
  - "mosapi.BASE_DOMAIN"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /mosapi/
    backendRefs:
    - group: net.gke.io
      kind: ServiceImport
      name: mosapi
      port: 80
  - matches:
    - path:
        type: PathPrefix
        value: /mosapi/
      headers:
      - name: "canary"
        value: "true"
    backendRefs:
    - group: net.gke.io
      kind: ServiceImport
      name: mosapi-canary
      port: 80
---
apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: mosapi
spec:
  default:
    config:
      type: HTTP
      httpHealthCheck:
        requestPath: /healthz/
  targetRef:
    group: net.gke.io
    kind: ServiceImport
    name: mosapi
---
apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: mosapi-canary
spec:
  default:
    config:
      type: HTTP
      httpHealthCheck:
        requestPath: /healthz/
  targetRef:
    group: net.gke.io
    kind: ServiceImport
    name: mosapi-canary